/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 2/15/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*


----------------SASS------------------*/
$white: #fff;
$off-white: #f6f6f6;
$light-grey: #e8e8e8;
$med-grey: #969696;
$dark-grey: #333333;
$black: #000;
$border-red: #670100;
$dark-red: #990100;
$light-red: #b90504;
$blue: #75acb5;
$dark-blue: #4c6f75;
$yellow: #fffc19;

/*----Sass imports----*/
@import "util";
@import "reset";
@import "defaults";




/*--------------------------------------End General / Start Objects------------------------------------*/

.hide-text{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.small{
	font-size: .5em;
}

.center{
	text-align: center;
}

.bold{
	font-weight: 700;
}

.red{
	color: $dark-red;
}

.blue{
	color: $blue;
}

.yellow{
	color: $yellow;
}

.light-gray{
	color: $light-grey;
}

.dark-gray{
	color: $dark-grey;
}

.underline{
	text-decoration: underline;
}

/** Nicholas Gallagher's micro clearfix
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*--------------------------------------End Objects / Start Login page------------------------------------*/

.fold{
	background: url(../images/girl.jpg) no-repeat 50% 90%;
	background-size: 205px 270px;
	min-height: 100vh;
	position: relative;

	@include break-sm{
		background-size: 285px 360px;
	}

	@include break-lg{
		background-position: 75% 80%;
		background-size: 445px 560px;
	}
}

.features{
	margin: 54px 0 0;
	padding: 18px;

	img{
		margin-bottom: 18px;

		@include break-sm{
			@include col(6);
			@include col_ctr(6);
		}

		@include break-lg{
			@include col(4);
			@include col_ctr(0);
		}
	}

	p{
		@include break-sm{
			@include col(8);
			@include col_ctr(8);
		}

		@include break-lg{
			@include col(4);
			@include col_ctr(0);
		}
	}
}

.desc-reveal{
	display: none;

	@include break-lg{
		display: inline;
	}
}

.login-btn{
	position: absolute;
	bottom: 129px;
	@include col(8);
	@include col_ctr(8);
	height: 48px;
	background: $blue;
	color: $off-white;
	font-weight: 100;
	padding: 0;
	border: none;
	border-radius: 2px;

	@include break-sm{
		@include col(5);
		@include col_ctr(5);
		bottom: 228px;
	}

	@include break-lg{
		@include col(4);
		@include col_ctr(0);
		position: static;
		margin-left: 18px;
	}

	img{
		vertical-align: middle;
		width: 43px;
		height: 39px;
	}
}





/*--------------------------------------End Login page / Start sit-in page------------------------------------*/

header{
	background: $dark-red;
	height: 48px;
	padding: 0 18px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99998;

	h1{
		font-size: 1.8em;
		text-align: center;
		line-height: 48px;
		display: inline;

		a{
			color: $off-white;
		}
	}

	img{
		float: right;
		margin-top: 7px;
	}
}

nav{
	float: right;
	display: none;

	ul{
		line-height: 48px;
		margin: 0;

		li{
			display: inline-block;
			color: $off-white;
			cursor: pointer;
			padding: 0 18px;
			border-left: 1px solid $border-red;

			a{
				color: $off-white;
			}

			img{
				float: left;
				margin: 0 9px 0 0;
				height: 48px;
				width: 48px;
			}
		}

		li:hover{
			opacity: .6;
		}

		li.no-hover:hover{
			opacity: 1;
		}
	}

	@include break-lg{
		display: inline;
	}
}


.nav-profile{
	height: 48px;

	.yellow{
		padding-left: 18px;
	}
}

.menu-btn{
	@include break-lg{
		display: none;
	}
}

.slideout{
	position: fixed;
	@include col(9);
	top: 0;
	bottom: 0;
	right: 0;
	background: $dark-grey;
	color: $off-white;

	li{
		position: relative;
		height: 48px;
		border-bottom: 1px solid $med-grey;
		font-size: .8em;
		cursor: pointer;
	}

	li:last-child{
		border: none;
	}

	li:hover{
		opacity: .8;
	}

	@include break-sm{
		@include col(6);
	}
}

.title-bar{
	text-align: center;
	padding-top: 18px;
}

.super{
	font-size: .5em;
	color: $med-grey;
	position: absolute;
	left: 59px;
	top: 6px;
}

.menu-item{
	position: absolute;
	bottom: 9px;
	left: 59px;
	color: $off-white;
}

.menu-points{
	position: absolute;
	color: $yellow;
	right: 42px;
	bottom: 9px;
}

.menu-points-units{
	position: absolute;
	right: 6px;
	bottom: 11px;
	font-size: .5em;
}

.logout-item{
	background: $dark-grey;
	position: absolute;
	bottom: 0;
	padding-left: 6px;
	padding-top: 9px;
	height: 48px;
	cursor: pointer;
	width: 100%;
	border-top: 1px solid $med-grey;

	p{
		display: inline;
		top: 12px;
		left: 59px;
		position: absolute;
	}
}

.attended-classes{
	position: relative;

	ul{
		max-height: 385px;
		overflow: scroll;

		li{
			padding: 0 9px;
			line-height: 48px;
			font-size: .6em;

			img{
				position: absolute;
				right: 35px;
				top: 7px;
			}
		}

		li:first-child{
			color: $yellow;
		}
	}
}

.attend-next{
	font-size: .5em;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 15px;
	color: $med-grey;
}






.content{
	min-height: 100vh;

	h2{
		@include col(10);
		@include col_ctr(10);
		margin-top: 54px;
		margin-bottom: 54px;
		font-size: 1.6em;
		text-align: center;
	}

	li{
		font-size: .85em;
		padding: 0 18px;
		height: 48px;
		line-height: 48px;
		background: $off-white;
		overflow: hidden;
		cursor: pointer;

		@include break-md{
			padding: 0 20%;
		}

	}

	li:nth-child(even){
		background: $light-grey;
	}

	li:hover{
		opacity: .5;
	}
}


.item-left{
	text-align: left;
	font-size: 1.2em;
	font-weight: 100;
	float: left;
	margin-right: 18px;
	color: $dark-grey;
	@include col(3);

	@include break-sm{
		font-size: 1.4em;
	}
}

.item-center{
	text-align: left;
	color: $dark-blue;
	@include col(3);

	@include break-sm{
		margin-left: 20%;
		font-size: 1.2em;
	}
}

.item-right{
	text-align: right;
	float: right;
	font-size: .9em;
	@include col(3);

	img{
		vertical-align: middle;
	}

}

.class-dates{

	.item-left{
		color: $dark-grey;
		font-size: 1.2em;
	}

	.item-right{
		font-size: 1em;
	}
}

.modal{
	background: rgba(0,0,0,.8);
	position: fixed;
	z-index: 10000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// display: none; /* add this back in to show modal*/
}

.mod-container{
	@include col(10);
	@include col_ctr(10);
	height: 198px;
	margin-top: 30vh;
	background: $off-white;
	position: relative;
	border-radius: 2px;
	padding-top: 18px;
	box-shadow: 1px 1px 6px $black;

	h2{
		padding: 0 18px;
		margin-bottom: 9px;
		font-size: 1.6em
	}

	p{
		padding: 0 18px;
		font-size: 1.4em;
	}

	img{
		@include col(1);
		@include col_ctr(1);
	}

	@include break-sm{
		@include col(7);
		@include col_ctr(7);
	}

	@include break-md{
		@include col(4);
		@include col_ctr(4);
	}

	@include break-lg{
		@include col(3);
		@include col_ctr(3);
	}
}

.btn{
	position: absolute;
	@include col(6);
	height: 48px;
	bottom: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	color: $off-white;
	font-weight: 50;
}

.cancel-btn{
	background: $light-red;
	left: 0;

}

.cancel-btn-wide{
	width: 100%;
}

.request-btn{
	background: $blue;
	right: 0;
}




footer{
	p{
		text-align: center;
		font-size: 1.4em;
	}
}


.four-oh-four{
	img{
		max-height: 500px;
		@include horiz-align;
	}
}



/*Sass import--------------------*/
@import "animate";
















